@font-face {
  font-family: "Font-Bold";
  src: url("../public/fonts/avenirnextcyr-bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Font-Demi";
  src: url("../public/fonts/avenirnextcyr-demi.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Font-Medium";
  src: url("../public/fonts/avenirnextcyr-medium.ttf");
  font-weight: 700;
}
